---
title: Rules
description: Actualiser le 23 Janvier 2023
permalink: rules/
in-nav: true
icon: "fas fa-list-ol"
---

{% include image-header.html image='/assets/img/image-slider/13.png' %}

<div class="container">
  <div class="pb-2 mt-4 mb-2 border-bottom">
      <h2 class="page-heading">A. Calme général</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ol>
        <li>Soyez gentil et respectueux envers tout le monde. Les jurons excessifs, l'impolitesse et le harcèlement ne sont pas tolérés.</li>
        <li>Ne faites pas de spam ou de publicité.</li>
        <li>Les observateurs ne doivent jamais donner d'informations tactiques aux joueurs ou perturber intentionnellement le jeu.</li>
        <li>Suivez toutes les instructions données par unmembre du staff. Si vous pensez qu'un membre du staff vous a mal orienté, veuillez contactez un Administateur.</li>
        <span class="badge badge-warning">Note</span>
        <small>Si vous êtes préoccupé par des liens qui peuvent constituer une publicité, veuillez demander à un membre du Staff avant de les poster.</small>
      </ol>
    </div>
    </div>
    <div class="pb-2 mt-4 mb-2 border-bottom">
      <h2 class="page-heading">B. Gameplay général</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ol>
          <li>Les joueurs ne doivent pas abuser des glitches, par exemple en plaçant des blocs dans des zones où le plugin interdit de marcher, ce que l'on appelle aussi le "block glitching".</li>
          <li>Les cartes peuvent avoir des règles qui ne s'appliquent qu'à cette carte spécifique.</li>
          <li>Tout comportement ou logiciel qui entraîne un nombre de clics supérieur à 14 CPS est interdit.</li>
          <ol type="a">
            <li>Le ButterFly est déconseillé car il est plus susceptible de produire un nombres de clics important. Vous le faites à vos risques et périls.</li>
            <li>Le dragclic est explicitement <i>interdit</i>, car il génère plus d'un clic avec un seul mouvement.</li>
            <li>Si le timer de débordement de votre souris est configurable, il doit être réglé sur un minimum de 10 ms.</li>
          </ol>
          <li>Les utilisateurs ne peuvent pas sciemment dégrader les ressources du réseau, ce qui inclut, entre autres, les cadences déraisonnables de redstone et les explosions excessives de TNT.</li>
          <li>Les utilisateurs ne peuvent pas collecter de données dans le jeu par des moyens automatisés tels que des comptes robots, sauf autorisation expresse.</li>
        </ol>
      </div>
    </div>
    <div class="pb-2 mt-4 mb-2 border-bottom">
      <h2 class="page-heading">C. Mods client</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ol>
          <li>Tous les mods clients ou outils externes qui vous donnent un avantage injuste sur les utilisateurs de Minecraft sont illégaux pendant le jeu.</li>
          <li>Les mods suivants sont explicitement <i>autorisé</i>:</li>
          <ul class="list-unstyled">
            {% for mod in site.data.mods-approved %}
              <li>
                <i class="fa fa-check text-success"></i>
                {{ mod }}
              </li>
            {% endfor %}
          </ul>
          <li>Les mods suivants sont explicitement <i>interdit</i>:</li>
          <ul class="list-unstyled">
            {% for mod in site.data.mods-banned %}
              <li>
                <i class="fa fa-times text-danger"></i>
                {{ mod }}
              </li>
            {% endfor %}
          </ul>
          <span class="badge badge-warning">Note</span>
          <small>Sauf autorisation explicite, les mods supplémentaires qui peuvent être installés via LabyMod ne sont pas autorisés.</small>
        </ol>
      </div>
  </div>
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h2 class="page-heading">D. Griefing d'équipe</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ol>
        <li>Le griefing d'équipe est interdit, et est défini comme toute action qui nuit directement à votre propre équipe.</li>
        <li>Les indicateurs communs du grief d'équipe :</li>
        <ol>
          <li>Placer et/ou faire exploser des TNT dans votre base (à des fins non défensives).</li>
          <li>Détruire les coffres ou les établis de sa propre équipe.</li>
          <li>Tuer l'équipe en spleefant ou en les faisant exploser avec du TNT.</li>
          <li>Aider ou collaborer avec un membre de l'autre équipe.</li>
        </ol>
        <span class="badge badge-warning">Note</span>
        <small>Des erreurs peuvent se produire, et un teamgriefing accidentel ne vous fera pas punir.</small>
      </ol>
    </div>
  </div>
  <div class="pb-2 mt-4 mb-2 border-bottom">
      <h2 class="page-heading">E. Sanction(s)</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ol>
        <li>Les joueurs peuvent être <i>kick</i> pour avoir enfreint les règles. Si la violation des règles est grave, vous pouvez être <i>banni</i> à la place.</li>
        <li>Les joueurs peuvent être <i>mute</i> pour avoir enfreint les règles du chat. Si vous avez déjà été mis en sourdine auparavant, la durée de la mise en sourdine peut être plus longue.</li>
        <li>Se soustraire à une sanction en se connectant avec un autre compte n'est pas autorisé, et peut entraîner l'interdiction de tous vos comptes et de votre adresse IP.</li>
        <span class="badge badge-warning">Note</span>
        <small>Toutes les infractions sont soumises à la discrétion du personnel.</small>
      </ol>
    </div>
  </div>
</div>
