---
title: Vote
description: "Voté pour SkylyMC"
permalink: vote/
in-nav: true
icon: "fas fa-vote-yea"
---

{% include image-header.html image='/assets/img/image-slider/7.jpg' %}

<div class="container my-4">
    <div>
        <div>
            <h2>Pourquoi voter ?</h2>
            <p>Voter est un excellent moyen de soutenir le serveur Minecraft ! Votre aide permettra d'attirer de nouveaux joueurs et de faire grandir notre communauté.</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>Sites de vote</h2>
                <p>Voici la liste officielle pour faire évoluer la communauté SkylyMC</p>
            </div>
            {% for site in site.data.vote-sites.sites %}
                <div class="col-lg-4 d-flex">
                    <div class="card">
                        <img class="card-img-top logo" src="/assets/img/vote/{{site.image}}" alt="{{site.name}} image">    
                        <div class="card-body" style="text-align: center;">
                            <h3>{{site.name}}</h3>
                            <a href={{site.link}} class="btn btn-success btn-lg btn-block" target="_blank">Vote</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
